<body>
  <div>
    <h1>Forrest Burrelsman</h1>
    <h3>Software Developer in KCMO</h3>
  </div>


<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Explore<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a routerLink="/projects">Projects</a>
      <a routerLink="/work">Work Experience</a>
      <a routerLink="/education">Education</a>
      <a routerLink="/bio">Bio</a><a href="assets\images\Resume-Burrelsman.pdf" target="_blank">Resume.pdf</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Contact<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
    <a href="mailto: forrestburrelsman@gmail.com">forrestburrelsman@gmail.com</a>
    <a href="https://linkedin.com/in/forrestburrelsman/" target="_blank">linkedin</a>
    <a href="https://github.com/forryburrelsman" target="_blank">Github</a>
  </div>
</div>
</div>

</body>
<router-outlet></router-outlet>