<h4>Work Experience:</h4>
<div id="resumeFormat">
<ul>
    <li><h4>Teaching Assistant, </h4> <p>LaunchCode,</p> June 2021 – Present</li>
        <ul>
            <li>Guide students through exercises that cover the core concepts of web development</li>
            <li>Check in with students regularly to answer technical questions and provide moral and practical
                support</li>
            <li>Collaborate with a partner TA to lead group discussions and study sessions that best match our
                students’ needs</li>
            <li>Communicate regularly with Candidate Engagement Manager to find solutions to problems
            encountered by students or myself</li>
        </ul><br>
    <li>
        <h4>Virtual Assistant, </h4> <p>Radiate Wellness, </p>August 2021 – Present
    </li>
        <ul>
            <li>
            Update and maintain the website via Weebly website builder and HTML
            </li>
            <li>Create bi-weekly newsletters and social media postings that have resulted in a 
                5% increase in viewer engagement
            </li>
            <li>Meet weekly to discuss new projects, set deadlines, and roll out new features</li>
            <li>Assist with moderating Facebook groups and other social media platforms</li>
            <li>Provide and receive constructive feedback about content</li>
            <li>Adhere to deadlines and prioritize workload based on urgency of assignments</li>
        </ul><br>
    <li>
        <h4>Volunteer Coordinator, </h4> <p>EarthDance Organic Farm School, </p> July 2018 – July 2019
    </li>
        <ul>
            <li>Scheduled groups and individuals for tours and volunteer shifts with the appropriate colleagues,
                making sure calendars did not overlap</li>
            <li>Created adaptable volunteer management systems for the organization to use long-term
            </li>
        </ul>
</ul> 
</div>
