<!DOCTYPE html>
<html>

<body onscroll="currentSlide(1)">

<h2>Hidden Gems Travel App</h2>
<div class="description">Hidden Gems Travel App helps travelers find 
  off-the-beaten-path tourist destinations that fit your needs and location. <br><br>
  We here at QuaranTeam find that when traveling we desire to see the lesser 
  known parts of the world. We want to find that great hiking trail near our motel in Peoria, not the fastest route to Navy Pier. 
  
  Hidden Gems brings those experiences to your fingertips.
  
<br><br>
  Hidden Gems searches near your location for userAccount-submitted sights and experiences that fit your needs.<br><br> With filtering based on activity type, age/family friendliness, accessibility and cost filters you can be sure you will find the best and most relevant travel activities every time you log in to our app. You can also befriend other users on the platform to stay on top of their latest and greatest adventures.
<br><br>

If you want to see the code, tech stack, and full list of features of this project,
please take a look at 
<a href="https://github.com/forryburrelsman/HiddenGemTravelSpots" target="_blank">my github page</a>. 
<br><br><br>
</div>
<script>
  currentSlide(1);
</script>
<br><br><br>
<!-- Slideshow container -->
<div class="slideshow-container" >
  The images below show the Search feature, developed and implemented by yours truly.<br>
<!-- Full-width images with number and caption text -->
<div class="mySlides fade">
  <div class="numbertext">1 / 4</div>
  <img src="assets\images\HiddenGems1.png" style="width:100%; display: block"><br><br><br>
  <div class="text">User Login Page</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 4</div>
  <img src="assets\images\HiddenGems2.png" style="width:100%"><br><br><br>
  <div class="text">Landing Page</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 4</div>
  <img src="assets\images\HiddenGems3.png" style="width:100%"><br><br><br><br><br>
  <div class="text">User searches for Gems with a filter selection</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 4</div>
  <img src="assets\images\HiddenGems4.png" style="width:100%"><br><br><br><br><br>
  <div class="text">Search filter returns Gems based on user's input</div>
</div>


<!-- Next and previous buttons -->
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
<span class="dot active" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
<span class="dot" onclick="currentSlide(4)"></span>
</div>

</body>
</html>
