<div>
    Welcome to my digital portfolio where I share my accomplishments,
     personal and professional projects in their various stages, goals that keep me motivated, and my hopes for the future. 
    
    <br><br>
     
    I'm a bootcamp graduate Software Engineer working towards my first 
    full-time coding role. When graduating with a BS in 
    Environmental Studies, I didn't exactly know what my future held, but I knew I wanted to 
    do something important. On I went to work on organic farms and nonprofits in a multitude of roles. 
    A couple years after completing undergrad, I realized I wanted more options and more experiences. 
    Knowing I've always enjoyed problem-solving and logic riddles, I enrolled in LaunchCode's 
    <a href="https://www.launchcode.org/" target="_blank">LC101 coding course</a>. I was hooked right away and knew this is what I wanted to pursue. 
    The possibilities in tech are truly endless!
   
    <br><br>
    
    Pivoting from sustainability and environmentalism to tech has been 
    challenging, sometimes confusing, and a lot of fun.
    
    <br><br>
    
    Two coding courses, one cross-state relocation,
     and a global pandemic later and I am not giving up on becoming an employed software 
     developer. This is only the beginning.
    
    <br><br> 
    
    Have a look around and please feel free to reach out.
    </div>